altgraph==0.17.4
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
distlib==0.4.0
docutils==0.22
filelock==3.18.0
filetype==1.2.0
gunicorn==23.0.0
idna==3.10
iniconfig==2.1.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
packaging==25.0
pefile==2023.2.7
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
ptyprocess==0.7.0
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pypiwin32==223
pytest==8.4.1
pywin32==311
pywin32-ctypes==0.2.3
requests==2.32.4
sh==2.2.2
urllib3==2.5.0
virtualenv==20.33.1
